* {
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
    background-color: #3d4653;
}

h1 {
    color: white;
}

p {
    color: white;
}

h3 {
    color: #C99846;
}

a {
    text-decoration: none;
}

h1:hover {
    color: #C99846;
    transform: translateY(-5px);
}

h2 {
    display: flex;
    color: #C99846;
    justify-content: center;
    padding: 30px;
}